.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
  }
}

/* .container {
  width: 1200px;
  padding: 0 14px;
  margin: 0 auto;

  .header & {
    display: flex;
    align-items: center;
  }

  .footer & {
    display: flex;
    align-items: baseline;
  }
} */
.logo {
  margin-right: 70px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-web {
  color: #2196f3;
}

/* @media screen and (min-widht: 768px) {
  .logo {
    margin-right: 70px;
  }
} */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  padding: 40px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  outline: none;
}

.icon-button-close {
  fill: #212121;
  width: 11px;
  height: 11px;
  transition: all 250ms;
}

.icon-button-close:hover, .icon-button-close:focus {
  fill: #2196f3;
}

.close-button:hover .icon-button-close {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-field {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.modal-form-message {
  display: block;
  resize: none;
  height: 120px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.modal-form-message:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.modal-form-message::placeholder {
  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-title {
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border-color: #2196f3;
  cursor: pointer;
}

.modal-form-btn:hover, .modal-form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.modal-form-svg-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-form-svg-icon {
  fill: #2196f3;
}

.modal-form-policy-label {
  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
}

.modal-form-check-box:checked + .modal-form-policy-label:before {
  background-color: #2196f3;
  background-image: url(../images/modal-form/Check.png);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-policy-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid #000;
  margin-right: 8px;
}

.modal-form-check-box {
  width: 16px;
  height: 15px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
  background-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-svg {
  fill: #ffffff;
}

.social-list-container {
  display: flex;
  flex-direction: column;
}

.social-list-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .social-list-title {
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .social-list {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-list {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    padding-bottom: 30px;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}

.header-tel-link, .header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-link-svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-link:hover .header-mail-link-svg {
  fill: #2196f3;
}

.header-mail-link:hover, .header-mail-link:focus {
  color: #2196f3;
}

.header-tel-link-svg {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-link:hover .header-tel-link-svg {
  fill: #2196f3;
}

.header-tel-link:hover, .header-tel-link:focus {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
}

.navigation-list {
  /* display: flex; */
  /* &-item:not(:last-child) {
      margin-right: 50px;
    } */
}

.navigation-list-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.navigation-menu-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: none;
}

.navigation-menu.is-open {
  display: block;
}

.navigation-icon-cross {
  display: none;
}

.navigation-menu-button.is-open .navigation-icon-cross {
  display: block;
}

.navigation-menu-button.is-open .navigation-icon-menu {
  display: none;
}

.streampage {
  color: #2196f3;
}

.streampage::after {
  position: absolute;
  bottom: -26px;
  content: "";
  display: inline-block;
  height: 5px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .streampage::after {
    bottom: -22px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  .navigation-menu {
    display: flex;
    align-items: center;
  }
  .navigation-menu-button {
    display: none;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-item {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  .adress-list {
    display: flex;
    align-items: center;
  }
  .adress-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .navigation-menu-button {
    display: none;
  }
  .navigation-list-item {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  /* .navigation-menu {
    display: flex;
    justify-content: space-between;
  } */
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .adress-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  .navigation-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 1px);
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
    background: #ffffff;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 999;
  }
  .navigation-list {
    margin-bottom: 60px;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .streampage {
    color: #2196f3;
  }
  .streampage::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
}

.hero-title {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.hero-button:hover, .hero-button:focus {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero-title {
    font-size: 26px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img-desktop.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.363;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img-desktop@2x.jpg");
  }
}

/* .hero {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/background-hero.jpg);

  &-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $main-white;
  }

  &-button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: $main-white;
    min-width: 200px;
    height: 50px;
    background-color: $accent-colour;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
      background-color: $accent-colour;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
 */
.about-us {
  display: flex;
  justify-content: center;
}

.about-us-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}

.about-us-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .about-us {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .about-us-second {
    display: none;
  }
}

.icon-antenna::before {
  content: "";
  display: block;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  content: "";
  display: block;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/clock.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  content: "";
  display: block;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronaut::before {
  content: "";
  display: block;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about-us-list-item:not(:last-child) {
    padding-bottom: 30px;
  }
  .icon-antenna::before {
    max-width: 450px;
    min-height: 120px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (max-width: 479px) {
  .icon-antenna::before {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .icon-clock::before {
    max-width: 450px;
    min-height: 120px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (max-width: 479px) {
  .icon-clock::before {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .icon-diagram::before {
    max-width: 450px;
    min-height: 120px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (max-width: 479px) {
  .icon-diagram::before {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .icon-astronaut::before {
    max-width: 450px;
    min-height: 120px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (max-width: 479px) {
  .icon-astronaut::before {
    width: 100%;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-us-list-item {
    width: 354px;
    height: 251px;
  }
  .about-us-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .icon-antenna::before {
    width: 354px;
    height: 120px;
  }
  .icon-clock::before {
    width: 354px;
    height: 120px;
  }
  .icon-diagram::before {
    width: 354px;
    height: 120px;
  }
  .icon-astronaut::before {
    width: 354px;
    height: 120px;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .about-us {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .about-us-list {
    display: flex;
    justify-content: space-between;
  }
  .about-us-second {
    display: flex;
    justify-content: center;
    padding-bottom: 94px;
  }
  .about-us-bottom-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  .about-us-bottom-list {
    display: flex;
    justify-content: space-between;
  }
  .about-us-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .about-us-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .about-us-overlay {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);
  }
  .about-us-overlay-description {
    font-family: Roboto;
    font-style: 400;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .about-us-img-overlay {
    position: relative;
  }
  .icon-antenna::before {
    width: 270px;
    height: 120px;
  }
  .icon-clock::before {
    width: 270px;
    height: 120px;
  }
  .icon-diagram::before {
    width: 270px;
    height: 120px;
  }
  .icon-astronaut::before {
    width: 270px;
    height: 120px;
  }
}

/* .about-us {
  padding-bottom: 94px;
  padding-top: 94px;

  &-second {
    padding-bottom: 94px;
  }

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-colour;
  }

  &-description {
    padding-right: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $description-colour;
  }

  &-bottom-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-colour;
    margin-bottom: 50px;
  }

  &-bottom-list {
    display: flex;
    justify-content: space-between;
  }

  &-list-item:not(:last-child) {
    margin-right: 30px;
  }

  &-overlay {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);

    &-description {
      font-family: $main-font;
      font-style: 400;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $main-white;
      padding-top: 27px;
      padding-bottom: 27px;
    }
  }

  &-img-overlay {
    position: relative;
  }
}

.icon-antenna::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: $helping-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: $helping-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/clock.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: $helping-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronaut::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: $helping-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
}
 */
.our-team {
  background-color: #f5f4fa;
}

.our-team-title {
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.our-team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list-img {
  width: 100%;
}

.card-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 16px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .our-team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .our-team-title {
    font-size: 28px;
    line-height: 1.178;
  }
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .our-team-list-item {
    width: 354px;
  }
  .our-team-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .our-team-list {
    display: flex;
    justify-content: space-between;
  }
  .our-team-list-item {
    width: 270px;
    height: 428px;
  }
  .our-team-title {
    font-size: 36px;
    line-height: 1.167;
  }
}

/* .our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $helping-background-colour;

  &-list {
    display: flex;
    justify-content: space-between;

    &-name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.187;
      text-align: center;
      letter-spacing: 0.03em;
      color: $title-colour;
      margin-bottom: 10px;
    }

    &-position {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.187;
      text-align: center;
      letter-spacing: 0.03em;
      color: $description-colour;
    }

    &-item {
      width: 270px;
      height: 428px;
      background: $main-white;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
  }

  &-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-colour;
  }
}

.card-content {
  padding-top: 30px;
  padding-bottom: 16px;
  padding-right: 58px;
  padding-left: 60px;
} */
.clients-icon {
  fill: #afb1b8;
  width: 88px;
  height: 52px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .clients-title {
    font-size: 28px;
    line-height: 1.17;
  }
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (max-width: 479px) {
  .clients-list-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .clients-link {
    height: 90px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-width: 480px) {
  .clients-link {
    width: 210px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (max-width: 479px) {
  .clients-link {
    width: 100%;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .clients-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  .clients-link {
    width: 226px;
    height: 90px;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .clients-link {
    width: 170px;
    height: 90px;
  }
  .clients-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

.footer .social-list-svg {
  fill: #ffffff;
}

.footer .social-list-link:hover {
  background-color: #2196f3;
}

.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer .logo {
  color: #ffffff;
  margin-right: 0;
}

@media screen and (max-width: 1199px) {
  .footer .social-list-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .social-list-container {
    margin-right: 93px;
  }
}

.contacts {
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-right: 70px;
  }
}

.contacts-list {
  margin-top: 20px;
}

.contacts-list-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-list-mail, .contacts-list-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .subscription-box {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-box {
    flex-grow: 1;
  }
}

.subscription-wrapper {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .subscription-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-wrapper {
    display: flex;
    width: 100%;
  }
}

.subscription-input {
  height: 50px;
  padding-left: 14px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

@media screen and (max-width: 767px) {
  .subscription-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-input {
    width: 100%;
    flex-grow: 1;
  }
}

@media screen and (max-width: 1199px) {
  .subscription-input {
    margin-bottom: 20px;
  }
}

.subscription-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .subscription-btn {
    margin-left: 12px;
  }
}

.subscription-btn-text {
  margin-right: 10px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.subscription-btn:hover, .subscription-btn:focus {
  background-color: #2196f3;
  outline: none;
}

.subscription-icon {
  fill: #ffffff;
}

.box-title {
  height: 16px;
  font-family: Roboto;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */