.about-us {
  &-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-colour;
    text-align: center;
  }

  &-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $description-colour;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .about-us {
    padding-bottom: 60px;
    padding-top: 60px;

    &-second {
      display: none;
    }
  }
}

/* mobile */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about-us {
    &-list {
      &-item:not(:last-child) {
        padding-bottom: 30px;
      }
    }
  }

  .icon-antenna::before {
    min-width: 320px;
    width: 450px;
    min-height: 120px;
  }

  .icon-clock::before {
    min-width: 320px;
    width: 450px;
    min-height: 120px;
  }

  .icon-diagram::before {
    min-width: 320px;
    width: 450px;
    min-height: 120px;
  }

  .icon-astronaut::before {
    min-width: 320px;
    width: 450px;
    min-height: 120px;
  }
}

/* tablet */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us {
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-item {
        width: 354px;
        height: 251px;
      }

      &-item:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }
  }
  .icon-antenna::before {
    width: 354px;
    height: 120px;
  }

  .icon-clock::before {
    width: 354px;
    height: 120px;
  }

  .icon-diagram::before {
    width: 354px;
    height: 120px;
  }

  .icon-astronaut::before {
    width: 354px;
    height: 120px;
  }
}

.icon-antenna::before {
  content: "";
  display: block;
  background-color: $helping-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  content: "";
  display: block;
  background-color: $helping-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/clock.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  content: "";
  display: block;
  background-color: $helping-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronaut::before {
  content: "";
  display: block;
  background-color: $helping-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* .about-us {
  padding-bottom: 94px;
  padding-top: 94px;

  &-second {
    padding-bottom: 94px;
  }

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-colour;
  }

  &-description {
    padding-right: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $description-colour;
  }

  &-bottom-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-colour;
    margin-bottom: 50px;
  }

  &-bottom-list {
    display: flex;
    justify-content: space-between;
  }

  &-list-item:not(:last-child) {
    margin-right: 30px;
  }

  &-overlay {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);

    &-description {
      font-family: $main-font;
      font-style: 400;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $main-white;
      padding-top: 27px;
      padding-bottom: 27px;
    }
  }

  &-img-overlay {
    position: relative;
  }
}

.icon-antenna::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: $helping-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clock::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: $helping-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/clock.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: $helping-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-astronaut::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: $helping-background-colour;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/main-section-about-us/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
}
 */
