.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $helping-background-colour;

  &-list {
    display: flex;
    justify-content: space-between;

    &-name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.187;
      text-align: center;
      letter-spacing: 0.03em;
      color: $title-colour;
      margin-bottom: 10px;
    }

    &-position {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.187;
      text-align: center;
      letter-spacing: 0.03em;
      color: $description-colour;
    }

    &-item {
      width: 270px;
      height: 428px;
      background: $main-white;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
  }

  &-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-colour;
  }
}

.card-content {
  padding-top: 30px;
  padding-bottom: 16px;
  padding-right: 58px;
  padding-left: 60px;
}
