.logo {
  margin-right: 70px;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $secondary-logo-colour;

  &-web {
    color: $accent-colour;
  }
}

/* @media screen and (min-widht: 768px) {
  .logo {
    margin-right: 70px;
  }
} */
