$accent-colour: #2196f3;
$main-font: Roboto;
$secondary-font: Raleway;
$title-colour: #212121;
$description-colour: #757575;
$main-white: #ffffff;
$secondary-white: #e5e5e5;
$secondary-background-clour: #2f303a;
$helping-background-colour: #f5f4fa;
$secondary-logo-colour: #000000;
$icon-colour: #afb1b8;
